* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);|
}

.case-studies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px 0;
}

.case-studies-container > h2 {
    font-size: 30px;
    margin: 5px;
}
.case-studies-container > p {
    color: grey;
    font-size: 17px;
}
.cards-case-studies-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
    margin-top: 25px;
}

.card-case-studies {
    width: 25%;
    min-width: 250px;
}

.card-case-studies h3,p {
    text-align: center;
}

.case-card-one {
    transition-delay: 0.3s;
}

.add-card-subtitle {
    position: relative;
}

.card-case-link {
    text-decoration: none;
    color: black;
}


.card-case-link p {
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

.card-case-link h3 {
    font-size: 17px;
}

.img-card-case {
    height: 246.4px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    cursor: pointer;
    box-sizing: border-box;
}

.img-card-case img {
    height: 100px;
    width: 100px;
}

.img-case-one {
    background-color: #000637;
}

.img-case-two {
    background-color: #ffad00;
}

.img-case-three {
    background-color: #bbbbf2;
}

.img-case-four {
    background-color: #5ed6b3;
}


.hover-card-case {
    background-color: rgba(0,51,204,.8);
    width: 80%;
    height: 246.4px;
    position: absolute;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.hover-card-case p {
    text-align: center;
    color: white;
    margin: 15px;
}

.case-button {
    padding: 10px 18px;
    border-radius: 3px;
    border: none;
    margin: 20px;
    font-size: 12px;
    cursor: pointer;
}
/*----------------------------------------------------------------
                            HOVERS
---------------------------------------------------------------*/
.case-button:hover {
    background-color: red;
    color: white;
    transition: all 0.5s ease-in-out;
}

.card-case-studies:hover .hover-card-case {
    transition: all 0.5s ease-in-out;
    opacity: 1;
       
}

.card-case-studies:hover .card-case-link {
    color: blue;
}

.card-case-studies:hover .card-case-link > p {
    color: blue;
}

/*----------------------------------------------------------------
                        MEDIA QUERY
---------------------------------------------------------------*/

@media(max-width: 1000px) {
    .cards-case-studies-container {
        flex-wrap: wrap;
    }
    .card-case-studies {
        width: 49%;
        min-width: 250px;
        box-sizing: border-box;
    }
    .img-card-case {
        width: 90%;
    }

    .hover-card-case {
        width: 90%;
    }

    .hover-card-case p {
        text-align: center;
        color: white;
        margin: 40px;
    }
}

@media(max-width: 800px) {
    .card-case-studies {
        width: 90%;
        min-width: 250px;
        box-sizing: border-box;
    }
    .img-card-case {
        height: 256px;
    }

    .hover-card-case {
        height: 256px;
    }
}