body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
}

header {
    width: 100%;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}



.imagelogosimple {
    display: flex;
    justify-content: center ;
     width: 20%;
}

.itemsbarradenavegacion {
     width: 60%;
}

.items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    padding-top: 10px;    
}


.items li:hover {
    color: red;
    font-weight: bold;
  }

.items li {
    padding: 0px 10px ;
    cursor:pointer;
}

.myButton {
    background-color: rgb(14, 91, 235);
    border-radius: 6px;
    cursor: pointer;
    color:#ffffff;
    font-size: 14px;
    padding: 8px 24px;
    text-decoration:none; 
    line-height: 18px;
    margin-right: 25px;
    margin-top: 10px;
}



.middle-section {
    width: 80%;
      
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    
}

.description h2 {
    font-size: 30px;
    text-align: left;
}

.description h4{
    font-weight: 500;
    color: gray;
    margin: 0;
    text-align: left;   
    }
    


    
.container-options{
    margin-top: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;    
    align-content: flex-start;
    margin-bottom: 30px;
}

    .option h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.option p{
    margin-top: 10px;
    font-size: 15px;
    color: grey;
}

.option .readmore{
    margin-top: 10px;
    font-size: 15px;
    color: grey;
    text-decoration: none;
}

.option {
    width: 30%;
    
}

.digital-mkt {
    display: flex;
    justify-content: space-between;    
    width: 100%;
    margin-top: 100px;   
    
}

.text{
    margin-top: 100px;
    width: 40%;
    
}

.text h3 {
    font-size: 30px;
}

.text p {
    color: grey;
    margin-top: 10px;
    font-size: 15px;
}

.text p:nth-child(3){
    font-weight: 600;
}

.digital-agency {
    display: flex;
    justify-content: space-around;
}

.DA-text{
    width: 35%;
    margin-top: 80px;
}

.DA-text h3{
    font-size: 30px;
}

.DA-text p{
    margin-top: 10px;
    color: grey;
}

.DA-text p:nth-child(3){
    font-weight: 600;
}

.DA-text button {
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background-color: #698474;
    width: 32%;
    line-height: 35px;
    box-shadow: none;
    font-size: 15px;
    outline: none;
    transition: 0.5s 0.2s;
}

.option img{
    transition: 0.5s 0.2s;
}

.readmore {
    font-weight: 600;
    transition: 0.2s 0.2s;
}

.option img:hover {
    transform: scale(1.2);
}

.readmore:hover {
    color: #fa697c;
}

.DA-text button:hover {
    background-color:white;
    border: 1.5px solid #698474;
    color: #698474;
    font-weight: 700;
}

@media (max-width: 860px){
    .container-options{
        display: flex;
        flex-direction: column;
        
        
    }
    .container-options .option{
        margin-top:20px;
    }
    
    .digital-mkt, .digital-agency{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .digital-mkt div, .digital-agency div{
        width: 80%;
        margin-top: 35px;
    }
    .DA-text, .digital-mkt .text, .description{
        text-align: center;
    }
    
    .DA-text{        
        order:-1;
    }
}

.case-studies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px 0;
}

.case-studies-head > h2 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.case-studies-head > p {
    color: grey;
    font-size: 17px;
    margin: 0;
}
.cards-case-studies-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
    margin-top: 25px;
}

.card-case-studies {
    width: 25%;
    min-width: 250px;
}

.card-case-studies h3, .case-studies-head p, .card-case-link p {
    text-align: center;
    margin: 0;
}

.case-card-one {
    transition-delay: 0.3s;
}

.add-card-subtitle {
    position: relative;
}

.card-case-link {
    text-decoration: none;
    color: black;
}


.card-case-link p {
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

.card-case-link h3 {
    font-size: 17px;
}

.img-card-case {
    height: 246.4px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    cursor: pointer;
    box-sizing: border-box;
}

.img-card-case img {
    height: 100px;
    width: 100px;
}

.img-case-one {
    background-color: #000637;
}

.img-case-two {
    background-color: #ffad00;
}

.img-case-three {
    background-color: #bbbbf2;
}

.img-case-four {
    background-color: #5ed6b3;
}


.hover-card-case {
    background-color: rgba(0,51,204,.8);
    width: 80%;
    height: 246.4px;
    position: absolute;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.hover-card-case p {
    text-align: center;
    color: white;
    margin: 15px;
}

.case-button {
    padding: 10px 18px;
    border-radius: 3px;
    border: none;
    margin: 20px;
    font-size: 12px;
    cursor: pointer;
}
/*----------------------------------------------------------------
                            HOVERS
---------------------------------------------------------------*/
.case-button:hover {
    background-color: red;
    color: white;
    transition: all 0.5s ease-in-out;
}

.card-case-studies:hover .hover-card-case {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    
}

.card-case-studies:hover .card-case-link {
    color: blue;
}

.card-case-studies:hover .card-case-link > p {
    color: blue;
}

/*----------------------------------------------------------------
MEDIA QUERY
---------------------------------------------------------------*/

@media(max-width: 1000px) {
    .cards-case-studies-container {
        flex-wrap: wrap;
    }
    .card-case-studies {
        width: 49%;
        min-width: 250px;
        box-sizing: border-box;
    }
    .img-card-case {
        width: 90%;
    }
    
    .hover-card-case {
        width: 90%;
    }

    .hover-card-case p {
        text-align: center;
        color: white;
        margin: 40px;
    }
}

@media(max-width: 800px) {
    .card-case-studies {
        width: 90%;
        min-width: 250px;
        box-sizing: border-box;
    }
    .img-card-case {
        height: 256px;
    }
    
    .hover-card-case {
        height: 256px;
    }
}
/*======================
        SLIDER
========================*/

.slider {
    width: 80%;
    margin: 150px 0;
    text-align: center;
    position: relative;
}

.sldr-title {
    font-size: xx-large;
    margin: 0;
    }
.sldr-subtitle {
    font-size: 15px;
    color: #666;
    margin: 0 0 50px 0;
    padding: 0;
}

.sldr-container {
    width: 100%;
    overflow: hidden;
}

.sldr-group-cards {
    display: flex;
    justify-content: flex-start;
    transition: transform linear .7s;
}


/* card container */

.sldr-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #f3f7fb;
    margin: 10px;
    padding: 35px 0;
    height: 100%;
    max-width: calc(100% / 3 - 19px);
    min-width: calc(100% / 3 - 19px);
    transition: ease;
    transition-duration: 1s;
}

.sldr-card-container:hover {
    background-color: #cfcfcf;
    transform: scale(1.02);
}

.sldr-img {
    border-radius: 50%;
    padding: 0;
}

.sldr-description {
    text-align: center;
    font-size: 15px;
    padding: 25px;
    color: #888;
    margin: 0;
}

.sldr-name {
    font-weight: bolder;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.sldr-profession {
    color: #888;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 16px;
}

/*  BULLETS */

.sldr-button {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    margin: 20px 5px;
    vertical-align: middle;
    transition: ease-in-out;
    transition-duration: .4s;
    position: absolute;
    top: 500px;
}

.sldr-button:hover {
    background-color: gray;
}

.sldr-button:checked {
    background-color: transparent;
    border: 3px solid rgb(194, 84, 84);
}

.sldr-1 {
    display: none;
}

.sldr-2 {
    left: 47%;
}

.sldr-3 {
    left: 50%;
}

.sldr-4 {
    left: 53%;
}

.sldr-5 {
    display: none;
}

.sldr-2:checked ~ .sldr-container .sldr-group-cards {
    transform: translateX(0%);
}

.sldr-3:checked ~ .sldr-container .sldr-group-cards {
    transform: translateX(-100%);
}

.sldr-4:checked ~ .sldr-container .sldr-group-cards {
    transform: translateX(-200%);
}


/*======================
        RESPONSIVE
========================*/

@media (max-width: 990px) {
    .sldr-button {
        bottom: 1090px;
    }

    .sldr-1 {
        display: block;
        left: 44%;
    }

    .sldr-5 {
        display: block;
        left: 56%;
    }

    .sldr-group-cards {
        justify-content: flex-start;
    }

    .sldr-card-container {
        max-width: calc(100% / 2 - 20px);
        min-width: calc(100% / 2 - 20px);
    }
    .sldr-1:checked ~ .sldr-container .sldr-group-cards {
        transform: translateX(0%);
    }
    
    .sldr-2:checked ~ .sldr-container .sldr-group-cards {
        transform: translateX(-100%);
    }
    
    .sldr-3:checked ~ .sldr-container .sldr-group-cards {
        transform: translateX(-200%);
    }
    
    .sldr-4:checked ~ .sldr-container .sldr-group-cards {
        transform: translateX(-300%);
    }
    
    .sldr-5:checked ~ .sldr-container .sldr-group-cards {
        transform: translateX(-350%);
    }
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-container{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.contact-container::before{
    background-image: url(img/banner_1.jpg);
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.3;
}
.contact-options {
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    color:#605a56;
}
.contact-button {
    margin-top: 40px;
}

button {
    width: 120px;
    line-height: 40px;
    font-size: 15px;
    color: #ff896b;
    border-radius: 20px;
    outline: none;
    background-color: white;
    transition: 0.7s 0.3s;
}

.contact-us {
    border: 1.5px solid #ff896b;
}
.links {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links div{
    width: 23%;
}

.links div h2{
    font-size: 18px;
    text-align: left;
}

.links div p{
    font-size: 15px;
    color: grey;
    font-weight: 400;
    margin: 8px 0;
    
    text-align: left;
}
.links input {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    line-height: 23px;
    width: 95%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: 0;
    background-color: #eaebd8;
}

.get-in-touch {
    text-align: left;
}

.subscribe {
    background-color: #757575;
    border: 0;
    color: white;
    border-radius: 3px;
    transition: 0.7s 0.2s;
    margin-top: 10px;
}
.links div .footer-icons {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}
.fab {
    color:#5d5d5d;
}

i{
    height: 20px;
    transition: 0.5s 0.2s;
}
i:hover {
    transform: scale(1.2);
}
.border-top {
    width: 95%;
    margin-top: 80px;
    margin-bottom: 35px;
    border-top: 1px solid #bcbab8;
}
.border-top p{
    margin-top: 20px;
    text-align: center;
}
.border-top p a{
    color: #f67e7d;
    transition: 0.2s 0.2s;
}
.border-top p a:hover{
    cursor: hand;
    color: #6c7b95;
}
.subscribe:hover{
    background-color: white;
    color: #757575;
    border: 1px solid #757575;
}
button:hover{
    background-color: #ff896b;
    color: white;
}

@media (max-width: 975px){
    .links{
        flex-wrap: wrap;
   }
    .links div{
        width: 45%;
        font-size: 20px;
        margin: 25px 0;
   }
}
@media (max-width: 575px){
    .links{
        flex-wrap: wrap;
   }
    .links div{
        width: 80%;
        font-size: 20px;
        margin: 25px 0;
   }
}
